In [18]:
import pandas as pd
from bs4 import BeautifulSoup, Tag

In [19]:
df = pd.read_csv('datasets/questions_answers_combined.csv', lineterminator='\n', encoding="ISO-8859-1")

In [20]:
def getParagraphLength(data):
    soup = BeautifulSoup(data['answer_body'])
    for tag in soup.find_all('code'):
        tag.replaceWith('')

    return len(soup.get_text())

In [21]:
df['reply_by_author'] = df.apply(lambda x: True if x['answer_user_id'] == \
                                         x['question_user_id'] else False, axis = 1)

df['a_score_rel_q_score'] = df.apply(lambda x: x['answer_score'] - x['question_score'], \
                                     axis = 1)

df['len_answer_text'] = df.apply(lambda x: getParagraphLength(x), \
                                     axis = 1)

df = df[['question_id', 'answer_id', 'a_score_rel_q_score', 'answer_score', \
           'reputation', 'reply_by_author', 'len_answer_text', 'is_accepted']]

df.head()

,question_id,answer_id,a_score_rel_q_score,answer_score,reputation,reply_by_author,len_answer_text,is_accepted
0,22528,22594,-6,5,17497.0,False,628,False
1,22528,22587,2,13,17787.0,False,699,True
2,22528,22578,-11,0,21216.0,False,338,False
3,22528,22551,-10,1,480242.0,False,422,False
4,22528,22537,-11,0,10583.0,False,318,False

In [22]:
df.to_csv('datasets/nonlexical_features.csv')